pulsar5024XM_x32 chip debug
WARNING: tb.v:385: $readmemh(program.hex): Not enough words in the file for the requested range [0:96000].
WARNING: tb.v:386: $readmemh(mmbootfs.hex): Not enough words in the file for the requested range [0:786432].
WARNING: tb.v:387: $readmemh(mmfs1.hex): Not enough words in the file for the requested range [262144:786432].
WARNING: tb.v:388: $readmemh(mmfs2.hex): Not enough words in the file for the requested range [524120:786432].
       945 (000003b2) HARDWARE   CM1 PUTCHR 32
       945 (000003b2) HARDWARE   CM1 PUTCHR 32
       945 (000003b2) HARDWARE   CM1 PUTCHR 98
       945 (000003b2) HARDWARE   CM1 PUTCHR 111
       945 (000003b2) HARDWARE   CM1 PUTCHR 111
       945 (000003b2) HARDWARE   CM1 PUTCHR 116
       945 (000003b2) HARDWARE   CM1 PUTCHR 105
       945 (000003b2) HARDWARE   CM1 PUTCHR 110
       945 (000003b2) HARDWARE   CM1 PUTCHR 103
       945 (000003b2) HARDWARE   CM1 PUTCHR 32
       945 (000003b2) HARDWARE   CM1 PUTCHR 102
       945 (000003b2) HARDWARE   CM1 PUTCHR 114
       945 (000003b2) HARDWARE   CM1 PUTCHR 111
       945 (000003b2) HARDWARE   CM1 PUTCHR 109
       945 (000003b2) HARDWARE   CM1 PUTCHR 32
       945 (000003b2) HARDWARE   CM1 PUTCHR 82
       945 (000003b2) HARDWARE   CM1 PUTCHR 79
       945 (000003b2) HARDWARE   CM1 PUTCHR 77
       945 (000003b2) HARDWARE   CM1 PUTCHR 10
       614 (00000267) HARDWARE   CM1 PUTPIX 45 45 34
       672 (000002a0) HARDWARE   FS0 READBF 0:X
       945 (000003b2) HARDWARE   CM1 PUTCHR 109
       945 (000003b2) HARDWARE   CM1 PUTCHR 109
       945 (000003b2) HARDWARE   CM1 PUTCHR 102
       945 (000003b2) HARDWARE   CM1 PUTCHR 115
       945 (000003b2) HARDWARE   CM1 PUTCHR 48
      1353 (00000549) HARDWARE   FS0 READBF 0:1
       945 (000003b2) HARDWARE   CM1 PUTCHR 109
       945 (000003b2) HARDWARE   CM1 PUTCHR 109
       945 (000003b2) HARDWARE   CM1 PUTCHR 102
       945 (000003b2) HARDWARE   CM1 PUTCHR 115
       945 (000003b2) HARDWARE   CM1 PUTCHR 49
tb.v:417: $finish called at 2000010 (1ns)
